@import "../sass/base";
@import "../sass/layout";
@import "../sass/components";

$main-font: "PT Serif", Serif;
$main-color: #006666;
$secondary-color: #9EC1A3;
$highlight-color: #ffba1a;
$shaded-color: #808080;
$bright: #FFFFFF;
$dark: #000000;
$error: darkred;


root, html {
  height: 100%;
}

body {
  background-color: $white;
  height: 100%;
  font-family: $main-font;
}

#root {
  height: 100%;
  padding: 0 20px;
}

.error {
  color: $error;
}

a {
  color: $highlight-color;

  &:hover {
    color: darken($highlight-color, 10%);
  }
}

.btn-primary, .btn-sm {
  background-color: $highlight-color;
  border: none;
  color: $main-color;


  &:hover {
    background-color: darken($highlight-color, 10%);
    color: $main-color;
}
  &:disabled {
    background-color: $shaded-color;
    color: $bright
  }
}

header {
  background-color: $bright;
  min-height: 4%;
  height: auto;
}

main {
  background-image: linear-gradient(to right top, #006666, #2c8582, #4ca59e, #6bc7bb, #8ae9d8);;
  background-repeat: no-repeat;
  color: $bright;
  min-height: 78%;
  height: auto;
}

main h2 {
  font-style: italic;
}

//Singup Component

.consent {
  color: $error;
  border: 1px solid $error;
  border-radius: 5px;
  background-color: $secondary-color;
}

//Priorities nav

div.nav-tabs {
  border-color: $highlight-color;
}

div.nav-tabs > .nav-item > .nav-link {
  color: $bright;

  &:hover {
    border-color: $highlight-color;
    color: $highlight-color;

  }
}
div.nav-tabs > .nav-item > .nav-link.active {
  color: $main-color;
  border-bottom-color: $highlight-color;
}


// Form



input {
  border: 2px solid $main-color;
  border-radius: 0.2rem;
  color: $main-color;


  &:focus {
    outline: $highlight-color;

  }

  &::placeholder {
    color: $secondary-color;
  }
}



//Add task component

.form-control {
  color: $main-color;
  &:focus {
    border-color: $highlight-color;
    box-shadow: 0 0 0 0.2rem transparentize($highlight-color, 0.75)
  }

  &::placeholder {
    color: $secondary-color;
  }
}

.input-group {
  width: auto;
}

.input-group-text {
  color: $main-color;
}

.ratings {
  max-width: 50px;
}

li {
  list-style: none;
}

.high-priority-task {
  border: 2px solid $highlight-color;
  background-color: $bright;
  color: $main-color;
  font-size: 0.8rem;
}

.medium-priority-task {
  border: 2px solid $highlight-color;
  background-color: $bright;
  color: $main-color;
  opacity: 0.78;
  font-size: 0.8rem;
}

.low-priority-task {
  border: 2px solid $highlight-color;
  background-color: $bright;
  color: $main-color;
  opacity: 0.6;
  font-size: 0.8rem;
}

.btn-danger, .btn-success {
  font-size: 0.8rem;
}

//Summary page

.summary {
  background-color: $bright;
  color: $main-color;
  border: 2px solid $highlight-color;
  overflow-y: auto;
  max-height: 350px;
}

.summary-list {
  border: 2px dotted $secondary-color;
}

.high-priority-title {
  color: $highlight-color;
  font-weight: bold;
}


footer {
  font-family: "Garuda", Garuda, serif ;
  font-size: 0.5rem;
  color: $main-color;
  background-color: $bright;
  min-height: 4%;
  height: auto;

  p {
    margin: 0;
  }
}


.nav-link {
  color: $main-color;

  &:hover {
    color: lighten($main-color, 15%);

  }
}


